# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\PC_ESQUIVEL_LOPEZ\Desktop\TEC\GIT\BOMBER\BombermanJuego\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
